.header__logo {
  width: 90px;
  height: 70px;
  background-image: url(/src/images/logo.svg);
  background-size: cover;
  object-fit: cover;
  top: 0;

}

@media screen and (min-width: 320px) and (max-width:900px) {
  .header__logo {
    width: 72px;
    height: 53px;
    margin-left: 30px;
    margin-bottom: 30px;
  }
}