 @import url(./_info/profile__name_info.css);

 .__name {
     display: flex;
     flex-direction: row;
     align-items: center;
     margin: 0;
 }


 .profile__name {
     font-style: normal;
     font-weight: 500;
     font-size: 42px;
     line-height: 48px;
     color: #FFFFFF;
     margin: 0;
 }

 @media screen and (min-width: 320px) and (max-width:710px) {

     .__name {
         display: flex;
         justify-self: center;
         justify-content: center;
         position: relative;
         margin: 0 auto;
         width: 282px;
     }

     .profile__name {
         font-size: 22px;
         line-height: 33px;
         text-align: center;
         margin: 0;
         color: #FFFFFF;
     }
 }

 @media screen and (min-width: 710px) and (max-width:900px) {
    .__name {
        display: flex;
        position: relative;
        width: 282px;
    }

    .profile__name {
        font-size: 27px;
        line-height: 33px;
        margin: 0;
        color: #FFFFFF;
    }
}