.additor__close-button {
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  top: -32px;
  right: -32px;
  padding: 0;
}

.additor__close-button {
  opacity: 0.6;
  cursor: pointer
}

.additor__close-button-image {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.additor__close-button-image:hover {
  opacity: 0.6;
}