.popup__opened {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .2s;
    z-index: 6;
}

.popup_opened {
    visibility: visible;
    opacity: 1;
}