@import url(./__close-button/popup__close-button.css);
@import url(./__container/popup__container.css);
@import url(./__error/popup__error.css);
@import url(./__form/popup__form.css);
@import url(./__image/popup__image.css);
@import url(./__input/popup__input.css);
@import url(./__lable/popup__lable.css);
@import url(./__opened/popup__opened.css);
@import url(./__submit-button/popup__submit-button.css);
@import url(./__title/popup__title.css);

.popup {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .2s;
    z-index: 6;
}